body{
    position: relative;
    height: 90vh;
    background-color: #fef4f4;
}
#result{
    position: absolute;
    top: 20%;
    left: 10%;
    width: 80%;
    font-size: 75px;
    border: solid 5px rgb(255, 145, 145);
    background-color: #e6cde3;
    text-align: center;
}
#startstop{
    position: absolute;
    bottom: 0%;
    left: 10%;
    width: 80%;
    height: 50px;
    border-radius: 25px;
    background-color: #f2a0a1;
}